---
import Layout from '../layouts/Layout.astro';

const BANNER_LINK_STYLE = "font-medium underline-offset-4 hover:underline"
---

<Layout title="jay3332: Home" navbar="transparent">
  <main class="m-auto">
    <div
      class="h-[max(540px,calc(100vh-4rem))] flex mobile:flex-col-reverse mobile:gap-y-6 pb-24 items-center
        justify-center w-full relative"
    >
      <div>
        <h1 class="mx-4 font-title font-medium text-6xl mobile:text-5xl">
          Hey, I'm <b class="font-bold bg-gradient-to-r from-accent to-secondary bg-clip-text text-transparent
          drop-shadow-[0_0_8px_rgba(255,255,255,0.2)]">jay3332</b>.
        </h1>
        <p class="mx-4 mt-4 text-white/60 text-xl font-light max-w-[600px]">
          A student who does <span class="font-medium text-white/80">software engineering</span> as a hobby.
          <br />
          I primarily program in <span class="font-medium text-[#dea584]">Rust</span>,
          <span class="font-medium text-[#3572a5]">Python</span>, and
          <span class="font-medium text-[#3178c6]">TypeScript</span>.
        </p>
        <div class="flex flex-row gap-x-4 mt-4 mx-4">
          <a href="#about-me" class={BANNER_LINK_STYLE}>See More</a>
          <a href="/projects" class={BANNER_LINK_STYLE}>Projects</a>
          <a href="https://github.com/jay3332" class={BANNER_LINK_STYLE}>GitHub</a>
        </div>
      </div>
      <img src="/jay3332_circle.png" class="w-40 h-40 ml-[5%]" alt="jay3332 Icon" />
      <a href="#about-me" id="_down" />
    </div>
    <h2 class="mx-4 font-bold text-3xl" id="about-me">About Me</h2>
    <p class="mx-4 mt-4 text-white/60 text-xl font-light">sample text</p>
  </main>
</Layout>

---

<style>
  @keyframes fade-move-down {
    0% {
      transform: translate(0, -20px);
      opacity: 0;
    }
    35% {
      opacity: 1;
    }
    70% {
      transform: translate(0, 10px);
      opacity: 0;
    }
    100% {
      transform: translate(0, 10px);
      opacity: 0;
    }
  }

  #_down {
    position: absolute;
    background-image: url(/icons/chevron-down.svg);
    background-repeat: no-repeat;
    cursor: pointer;
    height: 45px;
    width: 65px;
    margin-left: -40px;
    line-height: 60px;
    left: 50%;
    bottom: 30px;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    animation: fade-move-down 5s ease-in-out infinite;
    transition: all 0.5s ease;
  }

  #_down:hover {
    filter: drop-shadow(0 0 3px white);
  }
</style>