---
import Socials from './Socials.astro';

const YEAR = new Date().getFullYear();
---

<footer class="flex flex-col items-center bg-gray-900/40 py-6 box-border">
  <div class="pb-4 flex flex-col items-center md:flex-row">
    <Socials />
  </div>
  <p class="text-white text-opacity-50">
    Copyright &copy; {YEAR} jay3332
  </p>
</footer>
