---
export interface Props {
  href: string;
}

const { href } = Astro.props;
const { pathname } = Astro.url;
const opacity = pathname === href ? "text-opacity-100" : "text-opacity-70";
const className = `text-white ${opacity} hover:text-opacity-100 underline-offset-4 hover:underline transition-all`
---

<li class={className}>
  <a href={href} class="md:text-base text-lg">
    <slot />
  </a>
</li>
