---
const SOCIAL_ICON_CLASSES = 'invert opacity-70 hover:opacity-100 transition-all duration-200 w-8';
---

<div class="flex items-center gap-4">
  <a href="https://github.com/jay3332">
    <img src="/icons/github.svg" alt="GitHub" class={SOCIAL_ICON_CLASSES} width="32px">
  </a>
  <a href="https://www.linkedin.com/in/jaysen-tsao-52416a2ba/">
    <img src="/icons/linkedin.svg" alt="Linkedin" class={SOCIAL_ICON_CLASSES} width="32px">
  </a>
  <a href="https://discord.gg/FqtZ6akWpd">
    <img src="/icons/discord.svg" alt="Discord" class={SOCIAL_ICON_CLASSES} width="32px">
  </a>
  <a href="mailto:me@jay3332.tech">
    <img src="/icons/email.svg" alt="Email" class={SOCIAL_ICON_CLASSES} width="32px">
  </a>
</div>