---
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <main class="flex flex-col flex-grow items-center">
    <div class="self-center my-8 w-[76ch] mobile:w-[90vw] prose lg:prose-xl">
      <slot />
    </div>
  </main>
</Layout>